.reactive-carousel {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    background-color: #444444;
    display: flex;
    flex-direction: row;
}

.reactive-carousel * {
    box-sizing: border-box;
}

.reactive-carousel > .prev-nav, .next-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
}

.reactive-carousel > .next-nav {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.reactive-carousel > .prev-nav {
    left: 0;
}

.reactive-carousel > .prev-nav:hover, .next-nav:hover {
    background-color: rgba(0,0,0,0.8);
}

.reactive-carousel > .rc-element {
    display: none;
    align-self: center;
    margin: 0 auto;
    position: relative;
}

.reactive-carousel > .rc-element > img {
    display: block;
}

.reactive-carousel > .rc-element > .rc-caption {
    color: #f2f2f2;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.reactive-carousel > .rc-dot-container > .rc-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.reactive-carousel > .rc-dot-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    left: 0;
}

.reactive-carousel > .rc-dot-container > .rc-active, .reactive-carousel > .rc-dot-container > .rc-dot:hover {
    background-color: #717171;
}

.rc-autoplay-controls {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.reactive-carousel .rc-play-border {
    margin: 5px;
    border: 2px solid rgba(255,255,255,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;    
    display: inline-block;
    /* For IE 7 */
    zoom: 1;
    *display: inline;
}

.reactive-carousel .rc-play-border:hover {
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 1);
}

.reactive-carousel .rc-play-border:hover .rc-play {
    border-left: 10px solid rgba(255,255,255,1);
}

.reactive-carousel .rc-play-border:hover .rc-pause {
    border-left: 3px solid rgba(255,255,255,1);
    box-shadow: 5px 0px 0px rgba(255,255,255,1);
}



.reactive-carousel .rc-play {
    position:relative;
    top: 3px;
    left: 30%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid rgba(255,255,255,0.8);
}

.reactive-carousel .rc-pause {
    position: relative;
    top: 3.5px;
    left: 26%;
    width: 2px;
    height: 9px;
    box-shadow: 5px 0px 0px rgba(255,255,255,0.7);
    border-left: 3px solid rgba(255,255,255,0.7);
}

.rc-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
