.reactive-carousel {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    background-color: #444444;
    display: flex;
    flex-direction: row;
}

.reactive-carousel * {
    box-sizing: border-box;
}

.reactive-carousel > .prev-nav, .next-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
}

.reactive-carousel > .next-nav {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.reactive-carousel > .prev-nav:hover, .next-nav:hover {
    background-color: rgba(0,0,0,0.8);
}

.reactive-carousel > .rc-element {
    display: none;
    align-self: center;
    margin: 0 auto;
    position: relative;
}

.reactive-carousel > .rc-element > img {
    display: block;
}

.reactive-carousel > .rc-element > .rc-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.reactive-carousel > .rc-dot-container > .rc-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.reactive-carousel > .rc-dot-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.reactive-carousel > .rc-dot-container > .rc-active, .reactive-carousel > .rc-dot-container > .rc-dot:hover {
    background-color: #717171;
}

.rc-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}







